h1{
	color: #FB8B24 ;
	 	 font-family: "Roboto Slab", serif;
  		font-optical-sizing: auto;
  		font-weight: 400;
  		font-style: normal;
}
body{
	background-color: #FDF8E1 ;

}
p{
			color: #463F3A;
		font-family: "Roboto Slab", serif;
  	font-optical-sizing: auto;
  	font-weight: 200;
  	font-style: normal;
}
h2{
	color: #463F3A;
	font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h3{
	color: #463F3A;
	font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
img{
	border-radius: 30px;
}
img:hover{
	border-radius: 45px;
}